<div class="absolute flex w-screen justify-center z-30 p-5 xl:visible invisible">
    <img src="assets/images/logo.png" alt="" class="w-28">
</div>
<div class="w-full sm:h-screen flex justify-center items-center">
    <div class="w-3/4 bg-gray-200 md:bg-gray-950 sm:flex m-5 sm:mt-0">
        <div class="md:w-1/3 h-[500px] min-h-max sm:-mt-24 bg-gray-50 sm:m-10 sm:absolute shadow rounded moving"
            [class.move]="isMoved">
            <div class="h-full flex justify-center items-center">
                <div class="w-3/4 m-3" [class.hidden]="!isMoved">
                    <p class="text-xl sm:text-3xl font text-red-500 text-center uppercase underline">login</p>
                    <form [formGroup]="loginForm" (ngSubmit)="SubmitLogin()">
                        <div class="mt-5 w-full">
                            <label for="lemail" class="block text-sm font-medium leading-5 mx-1 text-gray-700 font">
                                Email address
                            </label>
                            <div class="mt-1 shadow-sm">
                                <input id="lemail" name="lemail" placeholder="user@example.com" type="email"
                                    formControlName="loginEmail"
                                    class="w-full px-3 py-2 rounded-md placeholder-gray-400 focus:border-0 border-b-2 border border-gray-900 transition duration-150 ease-in-out font">
                            </div>
                            <div *ngIf="loginForm.controls['loginEmail'].errors">
                                <p *ngIf="loginSubmit&&loginForm.controls['loginEmail'].hasError('required')"
                                    class="text-red-500 text-xs">Email
                                    Required
                                <p>
                                <p *ngIf="loginForm.controls['loginEmail'].hasError('email')" class="text-red-500 text-xs">
                                    Invalid email format!
                                <p>
                            </div>
                        </div>
                        <div class="mt-4 w-full">
                            <label for="password" class="block text-sm font-medium mx-1 leading-5 text-gray-700">
                                Password
                            </label>
                            <div class="mt-1 shadow-sm">
                                <input id="lpassword" name="lpassword" type="password" placeholder="..........."
                                    formControlName="loginPassword"
                                    class="w-full px-3 py-2 rounded-md placeholder-gray-400 focus:border-0 border border-b-2 border-gray-900 transition duration-150 ease-in-out font">
                            </div>
                            <div *ngIf="loginForm.controls['loginPassword'].errors">
                                <p *ngIf="loginSubmit&&loginForm.controls['password'].hasError('required')"
                                    class="text-red-500 text-xs">Password
                                    Required
                                </p>
                                <p *ngIf="loginForm.controls['loginPassword'].hasError('pattern')"
                                    class="text-red-500 text-xs">Invalid Password
                                    Format!</p>
                            </div>
                        </div>
                        <div class="mt-8 flex justify-center">
                            <button
                                class="w-full py-3 text-xs uppercase font-semibold rounded-md duration-300 bg-white font border-2 border-black hover:w-1/2 hover:scale-105"
                                type="submit">
                                Login Here
                            </button>
                        </div>
                    </form>
                    <p class="visible sm:invisible text-xs font mt-3">Don't have an account?
                        <span class="cursor-pointer uppercase underline font" (click)="moveDiv()">Signup</span></p>
                </div>
                <div class="w-3/4 m-3" [class.hidden]="isMoved">
                    <p class="text-xl sm:text-3xl font text-red-500 text-center uppercase underline mt-3">signup</p>
                    <form [formGroup]="registerForm" (ngSubmit)="submitSignUp()">
                        <div class="mt-2 w-full">
                            <label for="name" class="block text-sm font-medium leading-5 mx-1 text-gray-700 font">
                                Name
                            </label>
                            <div class="shadow-sm">
                                <input id="name" name="name" placeholder="John Doe" type="name" formControlName="name"
                                    class="w-full px-3 py-1.5 rounded-md placeholder-gray-400 focus:border-0 border-b-2 border border-gray-900 transition duration-150 ease-in-out font">
                            </div>
                            <p *ngIf="nameError" class="text-red-500 text-xs">Name required</p>
                        </div>
                        <div class="mt-2 w-full">
                            <label for="email" class="block text-sm font-medium leading-5 mx-1 text-gray-700 font">
                                Email address
                            </label>
                            <div class="shadow-sm">
                                <input id="email" name="email" placeholder="user@example.com" type="email"
                                    formControlName="email"
                                    class="w-full px-3 py-1.5 rounded-md placeholder-gray-400 focus:border-0 border-b-2 border border-gray-900 transition duration-150 ease-in-out font">
                            </div>
                            <div *ngIf="registerForm.controls['email'].errors">
                                <p *ngIf="signupSubmit&&registerForm.controls['email'].hasError('required')"
                                    class="text-red-500 text-xs">Email
                                    Required
                                <p>
                                <p *ngIf="registerForm.controls['email'].hasError('email')"
                                    class="text-red-500 text-xs">
                                    Invalid email format!
                                <p>
                            </div>
                        </div>
                        <div class="mt-2">
                            <label for="phone"
                                class="block text-sm font-medium leading-5 mx-1 text-gray-700 font">Phone</label>
                            <div class="mt-1 relative rounded-md shadow-sm">
                                <input id="phone" name="phone" placeholder="+91 9876543210" type="text" required=""
                                    maxlength="10" formControlName="phone"
                                    class="w-full px-3 py-1.5 rounded-md placeholder-gray-400 focus:border-0 border-b-2 border border-gray-900 transition duration-150 ease-in-out font">
                            </div>
                            <div *ngIf="registerForm.controls['phone'].errors">
                                <p *ngIf="signupSubmit&&registerForm.controls['phone'].hasError('required')"
                                    class="text-red-500 text-xs">Phone number required
                                <p>
                                <p *ngIf="registerForm.controls['phone'].hasError('pattern')"
                                    class="text-red-500 text-xs">Must be numerics
                                <p>
                                <p *ngIf="registerForm.controls['phone'].hasError('minlength') && !registerForm.controls['phone'].hasError('pattern')"
                                    class="text-red-500 text-xs">At least 10 digits</p>
                            </div>
                        </div>
                        <div class="mt-2 w-full">
                            <label for="password" class="block text-sm font-medium mx-1 leading-5 text-gray-700">
                                Password
                            </label>
                            <div class="shadow-sm">
                                <input id="password" name="password" type="password" placeholder="..........."
                                    formControlName="password"
                                    class="w-full px-3 py-1.5 rounded-md placeholder-gray-400 focus:border-0 border border-b-2 border-gray-900 transition duration-150 ease-in-out font">
                            </div>
                            <div *ngIf="registerForm.controls['password'].errors">
                                <p *ngIf="signupSubmit&&registerForm.controls['password'].hasError('required')"
                                    class="text-red-500 text-xs">Password
                                    Required
                                </p>
                                <p *ngIf="registerForm.controls['password'].hasError('pattern')"
                                    class="text-red-500 text-xs">Invalid Password
                                    Format</p>
                            </div>
                        </div>
                        <div class="mt-2 w-full">
                            <label for="cpassword" class="block text-sm font-medium mx-1 leading-5 text-gray-700">
                                Confirm Password
                            </label>
                            <div class="shadow-sm">
                                <input id="cpassword" name="cpassword" type="password" placeholder="..........."
                                    formControlName="cpassword"
                                    class="w-full px-3 py-1.5 rounded-md placeholder-gray-400 focus:border-0 border border-b-2 border-gray-900 transition duration-150 ease-in-out font">
                            </div>
                            <div *ngIf="registerForm.controls['cpassword'].errors">
                                <p *ngIf="signupSubmit&&registerForm.controls['cpassword'].hasError('required')"
                                    class="text-red-500 text-xs">Password
                                    Required
                                </p>
                                <p *ngIf="registerForm.controls['cpassword'].hasError('pattern')"
                                    class="text-red-500 text-xs">Invalid Password
                                    Format</p>
                            </div>
                        </div>
                        <div class="mt-5 flex justify-center">
                            <button
                                class="w-full py-3 text-xs uppercase font-semibold rounded-md duration-300 bg-white font border-2 border-black hover:w-1/2 hover:scale-105"
                                type="submit">
                                Login Here
                            </button>
                        </div>
                    </form>
                    <p class="visible sm:invisible text-xs font mt-3">Already have an account?
                        <span class="cursor-pointer uppercase underline font" (click)="moveDiv()">Login</span></p>
                </div>
            </div>
        </div>
        <div class="sm:w-1/2 sm:h-1/3 sm:flex items-center invisible md:visible">
            <div class="sm:m-10">
                <p class="sm:text-2xl text-white font m-3">Don't have an account?</p>
                <p class="text-white m-3 font">Transforming into a better version of yourself is just a click away. Are
                    you ready? 'Sign Up' now!</p>
                <button class="text-white px-5 py-2 border border-red-500 uppercase font m-3" (click)="moveDiv()">sign
                    up</button>
            </div>
        </div>
        <div class="w-1/2 h-1/3 flex items-center md:visible invisible">
            <div class="sm:m-10">
                <p class="sm:text-2xl text-white font m-3">Have an account?</p>
                <p class="text-white m-3 font">Your fitness adventure continues! Just a click on 'Login' here and you're
                    back in action.</p>
                <button class="text-white px-5 py-2 border border-red-500 uppercase font m-3"
                    (click)="moveDiv()">Login</button>
            </div>
        </div>
    </div>

</div>