<div>
    <img src="assets/images/header2.png" alt="not found" class="w-full lg:h-full h-20" />
    <div class="absolute lg:top-5 top-2 left-0 w-full">
        <app-nav-bar></app-nav-bar>
    </div>
</div>


<div class="w-full mt-20 mb-20" *ngIf="workouts$|async as workouts">    
    <div class="mx-36 grid grid-cols-1 md:grid-cols-3 grid-4 ">
        <div *ngFor="let data of workouts;" class="mx-5">
            <div *ngIf="data.publish == true" >
                <div class="bg-white rounded-2xl overflow-hidden shadow-lg hover:scale-105 duration-300 cursor-pointer"
                    (click)="showWorkout(data._id)">
                    <div><img [src]="'http://localhost:3000/uploads/' + data.thumbnail" alt="" height="300px"
                            class="w-full h-60"></div>
                    <div class="p-5">
                        <p class="text-md text-gray-700 font-medium font-serif">{{data.muscle}}</p>
                        <p class="text-lg font-semibold font-mono mt-1">{{data.title}}</p>
                        <p class="text-mg font-base font-serif mt-1">For {{data.level}}</p>
                        <p class="text-mg font-base font-serif mt-0">By {{data.trainerId.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-full h-screen flex justify-center item-center" *ngIf="notFound">
    <p class="text-3xl font-semibold font-sans text-red-500">Videos Not Available</p>
</div>



<app-footer></app-footer>