<!-- component -->
<div class="flex h-screen antialiased text-gray-800">
    <div class="flex flex-row h-full w-full overflow-x-hidden">
        <div class="flex flex-col w-3/12 bg-gray-100 p-3">
            <div class="flex flex-row justify-center items-center w-full p-3">
                <img src="assets/images/logo.png" alt="" class="w-20">
            </div>
            <div>
                <label class="relative block">
                    <span class="sr-only">Search</span>
                    <span class="absolute inset-y-0 left-0 flex items-center pl-2 pr-2">
                        <mat-icon class="text-gray-500">search</mat-icon>
                    </span>
                    <input
                        class="px-5 placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-lg py-2 pl-9 pr-3 shadow-sm outline-none focus:border-red-300 focus:ring-red-300 focus:ring-1 sm:text-sm"
                        placeholder="Search Here ..." type="text" name="search" />
                </label>
            </div>
            <div class="flex flex-col mt-8" *ngIf="users; else userBlock">
                <div class="flex flex-col overflow-y-auto" *ngFor="let value of users">
                    <button class="flex items-center hover:bg-gray-100 rounded-xl px-2 focus:bg-white"
                        (click)="selectChat(value._id)">
                        <img [src]="'http://localhost:3000/uploads/'+value.imageUrl" alt=""
                            class="h-10 w-10 rounded-full" *ngIf="value.imageUrl; else elseBlock">
                        <ng-template #elseBlock>
                            <div
                                class="flex items-center justify-center h-10 w-10 bg-red-500 text-white rounded-full uppercase">
                                {{value.name[0]}}
                            </div>
                        </ng-template>
                        <div class="m-4 text-md font-semibold">{{value.name}}</div>
                    </button>
                </div>
            </div>
            <ng-template #userBlock>
                <div class="flex flex-col mt-8">
                    <div class="flex flex-col overflow-y-auto">
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="flex flex-col flex-auto h-full w-full bg-white">
            <div class="flex flex-col flex-auto flex-shrink-0 bg-white h-full" *ngIf="userId; else messageBlock">
                <div class="w-full bg-white border-b-2 border-gray-200 shadow p-4 flex items-center">
                    <div *ngIf="!user.imageUrl"
                        class="flex items-center justify-center h-10 w-10 rounded-full bg-red-500 flex-shrink-0 text-white uppercase">
                        {{user.name[0]}}
                    </div>
                    <img [src]="'http://localhost:3000/uploads/'+user.imageUrl" alt="" class="w-12 h-12 rounded-full"
                        *ngIf="user.imageUrl">
                    <p class="px-3 text-black font">{{user.name}}</p>
                </div>
                <div class="flex flex-col h-full overflow-x-auto mb-4">
                    <div class="flex flex-col h-full">
                        <div class="grid grid-cols-12 gap-y-2" *ngFor="let value of chat$">
                            <div class="col-start-6 col-end-13 p-3 rounded-lg"
                                *ngIf="value.content !== '' && value.reciever === userId">
                                <div class="flex items-center justify-start flex-row-reverse">
                                    <div class="relative mr-3 text-sm bg-red-100 py-2 px-4 shadow-md rounded-xl">
                                        <span class="text-lg p-1">{{value.content}}</span>
                                        <sub class="text-xs p-1 tracking-tighter">{{value.timestamp | date:'hh:mm a'}}</sub>
                                        <div class="absolute text-xs bottom-0 right-0 -mb-5 mr-2 text-gray-500">
                                            {{value.timestamp | date:'dd/MM/yyyy'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-start-1 col-end-8 p-3 rounded-lg"
                                *ngIf="value.content !== '' && value.reciever === trainerId">
                                <div class="flex flex-row items-center">
                                    <div *ngIf="!user.imageUrl; else imageBlock"
                                        class="flex items-center justify-center h-10 w-10 rounded-full bg-red-500 flex-shrink-0 text-white uppercase">
                                        {{user.name[0]}}
                                    </div>
                                    <ng-template #imageBlock>
                                        <img [src]="'http://localhost:3000/uploads/'+user.imageUrl" alt=""
                                            class="h-10 w-10 rounded-full">
                                    </ng-template>
                                    <div class="relative ml-3 text-sm bg-gray-200 py-2 px-4 shadow-md rounded-xl">
                                        <span class="text-lg p-1">{{value.content}}</span>
                                        <sub class="text-xs p-1 tracking-tighter">{{value.timestamp | date:'hh:mm a'}}</sub>
                                        <div class="absolute text-xs bottom-0 right-0 -mb-5 mr-2 text-gray-500">
                                            {{value.timestamp | date:'dd/MM/yyyy'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row items-center h-20 bg-white w-full p-5 border-t-2 shadow border-gray-200">
                    <div>
                        <!-- <button class="flex items-center justify-center text-gray-400 hover:text-gray-600">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13">
                                </path>
                            </svg>
                        </button> -->
                    </div>
                    <div class="flex-grow ml-4">
                        <form #form="ngForm" (ngSubmit)="onSubmit(userId)">
                            <div class="flex">
                                <div class="relative w-full">
                                    <input ngModel name="message" required type="text"
                                        class="flex w-full border border-gray-300 rounded-xl focus:outline-none focus:border-red-300 pl-4 h-10" />
                                    <!-- <button
                                        class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600">
                                        <mat-icon>tag_faces</mat-icon>
                                    </button> -->
                                </div>
                                <div class="ml-4">
                                    <button type="submit" [disabled]="!form.valid"
                                        class="flex items-center justify-center bg-red-500 hover:bg-red-600 rounded-full text-white p-2 flex-shrink-0">
                                        <mat-icon>send</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <ng-template #messageBlock>
                <div class="w-full h-full flex justify-center items-center">
                    <p class="px-10 py-1 font-semibold font text-xl text-red-500">Select your chat</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>