<div class="flex h-screen antialiased text-gray-800">
    <div class="flex flex-row h-full w-full overflow-x-hidden">
        <div class="bg-white p-5 flex flex-row justify-center first" (click)="closeEmojiPicker()">
            <div class="w-10 h-10 rounded-full flex justify-center items-center bg-gray-100 cursor-pointer"
                routerLink="/trainer/dashboard">
                <mat-icon class="text-red-500">home</mat-icon>
            </div>
        </div>
        <div class="flex flex-col w-full sm:w-1/3 md:w-1/4 bg-gray-200 p-5" (click)="closeEmojiPicker()" [class.second-hide]="userId">
            <div class="">
                <p class="text-center text-xl font-medium font mb-3">Messages</p>
            </div>
            <div>
                <label class="relative block">
                    <span class="sr-only">Search</span>
                    <span class="absolute inset-y-0 left-0 flex items-center pl-2 pr-2">
                        <mat-icon class="text-gray-500">search</mat-icon>
                    </span>
                    <input
                        class="px-5 placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-lg py-3 pl-9 pr-3 shadow-sm outline-none focus:border-red-300 focus:ring-red-300 focus:ring-1 sm:text-sm"
                        placeholder="Search Here ..." type="text" name="search" (input)="filterUsers($event)"
                        (blur)="isList(false)" (click)="isList(true)" />
                    <ul *ngIf="showList && filteredUsers.length > 0"
                        class="w-full mt-2 border border-gray-300 bg-white rounded-lg shadow-sm absolute">
                        <li *ngFor="let user of filteredUsers" class="px-4 py-2 cursor-pointer hover:bg-gray-100 font"
                            (click)="selectChat(user._id)">
                            {{ user.name }}
                        </li>
                    </ul>
                </label>
            </div>
            <div class="flex flex-col mt-8" *ngIf="users; else userBlock">
                <div class="flex flex-col overflow-y-auto" *ngFor="let value of users">
                    <button class="flex items-center hover:bg-gray-100 rounded-xl px-2 focus:bg-white"
                        (click)="selectChat(value._id)" [class.selected]="isSelected(value._id)">
                        <img [src]="'http://localhost:3000/uploads/'+value.imageUrl" alt=""
                            class="h-10 w-10 rounded-full" *ngIf="value.imageUrl; else elseBlock">
                        <ng-template #elseBlock>
                            <div
                                class="flex items-center justify-center h-10 w-10 bg-red-500 text-white rounded-full uppercase w-1/4">
                                {{value.name[0]}}
                            </div>
                        </ng-template>
                        <div class="m-4 w-1/4">
                            <p class="text-md font font-semibold text-black">{{value.name}}</p>
                        </div>
                        <div class="w-2/4 flex justify-end items-center" *ngIf="value.notification">
                            <p class="w-5 h-5 rounded-full bg-red-500 text-center text-white text-sm">{{value.notification}}</p>
                        </div>
                    </button>
                </div>
            </div>
            <ng-template #userBlock>
                <div class="flex flex-col mt-8">
                    <div class="flex flex-col overflow-y-auto">
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="flex flex-col flex-auto h-full sm:w-2/3 w-full bg-white" [class.third-hide]="!userId">
            <div class="flex flex-col flex-auto flex-shrink-0 bg-white h-full" *ngIf="userId; else messageBlock">
                <div class="w-full bg-white border-b-2 border-gray-200 shadow p-4 flex items-center" (click)="closeEmojiPicker()">
                    <div class="mx-3 cursor-pointer" (click)="back()">
                        <mat-icon class="text-red-500">keyboard_backspace</mat-icon>
                    </div>
                    <div *ngIf="user.imageUrl; else imageBlock">
                        <img [src]="'http://localhost:3000/uploads/'+user.imageUrl" alt=""
                            class="w-12 h-12 rounded-full">
                    </div>
                    <ng-template #imageBlock>
                        <div
                            class="flex items-center justify-center h-10 w-10 rounded-full bg-red-500 flex-shrink-0 text-white uppercase">
                            {{user.name[0]}}
                        </div>
                    </ng-template>
                    <p class="px-3 text-black font">{{user.name}}</p>
                </div>
                <div #chatContainer class="flex flex-col h-full overflow-x-auto mb-4" (click)="closeEmojiPicker()">
                    <div class="flex flex-col h-full">
                        <div class="grid grid-cols-12 gap-y-2" *ngFor="let value of chat$">
                            <div class="col-start-6 col-end-13 p-3 rounded-lg"
                                *ngIf="value.content !== '' && value.reciever === userId">
                                <div class="flex items-center justify-start flex-row-reverse">
                                    <div class="relative mr-3 text-sm bg-red-100 py-2 px-4 shadow-md rounded-xl">
                                        <div class="w-80"
                                            *ngIf="!isImageOverlayOpen && value.content.includes('https://firebasestorage.googleapis.com'); else contentBlock">
                                            <img [src]="value.content" alt="" class="w-full"
                                                (click)="openImageOverlay(value.content)">
                                        </div>
                                        <ng-template #contentBlock>
                                            <span class="text-lg p-1">{{value.content}}</span>
                                        </ng-template>
                                        <sub class="text-xs p-1 tracking-tighter">{{value.timestamp | date:'hh:mm a'}}</sub>
                                        <div class="absolute text-xs bottom-0 right-0 -mb-5 mr-2 text-gray-500">
                                            <div *ngIf="isToday(value.timestamp); else customDate">Today</div>
                                            <ng-template #customDate> {{ isYesterday(value.timestamp) ? 'Yesterday' :
                                                value.timestamp | date:'dd/MM/yyyy' }}</ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-start-1 col-end-8 p-3 rounded-lg"
                                *ngIf="value.content !== '' && value.reciever === trainerId">
                                <div class="flex flex-row items-center">
                                    <div *ngIf="!user.imageUrl; else imageBlock"
                                        class="flex items-center justify-center h-10 w-10 rounded-full bg-red-500 flex-shrink-0 text-white uppercase">
                                        {{user.name[0]}}
                                    </div>
                                    <ng-template #imageBlock>
                                        <img [src]="'http://localhost:3000/uploads/'+user.imageUrl" alt=""
                                            class="h-10 w-10 rounded-full">
                                    </ng-template>
                                    <div class="relative ml-3 text-sm bg-gray-200 py-2 px-4 shadow-md rounded-xl">

                                        <div class="w-80"
                                            *ngIf="!isImageOverlayOpen && value.content.includes('https://firebasestorage.googleapis.com'); else contentBlock">
                                            <img [src]="value.content" alt="" class="w-full"
                                                (click)="openImageOverlay(value.content)">
                                        </div>
                                        <ng-template #contentBlock>
                                            <span class="text-lg p-1">{{value.content}}</span>
                                        </ng-template>
                                        <sub class="text-xs p-1 tracking-tighter">{{value.timestamp | date:'hh:mm a'}}</sub>
                                        <div class="absolute text-xs bottom-0 right-0 -mb-5 mr-2 text-gray-500">
                                            <div *ngIf="isToday(value.timestamp); else customDate">Today</div>
                                            <ng-template #customDate> {{ isYesterday(value.timestamp) ? 'Yesterday' :
                                                value.timestamp | date:'dd/MM/yyyy' }}</ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="isImageOverlayOpen ? 'image-overlay': 'overlay-hidden'"
                            (click)="closeImageOverlay()">
                            <img [src]="viewImage" alt="" class="w-full" *ngIf="isImageOverlayOpen"
                                (click)="$event.stopPropagation()">
                        </div>
                    </div>
                </div>
                <div class="flex flex-row items-center h-20 bg-white w-full p-5 border-t-2 shadow border-gray-200">
                    <div (click)="closeEmojiPicker()">
                        <a class="cursor-pointer flex items-center justify-center text-gray-400 hover:text-gray-600"
                            [matMenuTriggerFor]="aboveMenu">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13">
                                </path>
                            </svg>
                        </a>
                        <mat-menu #aboveMenu="matMenu" yPosition="above">
                            <button mat-menu-item mat-menu-item (click)="openFileInput()">
                                <mat-icon>add_photo_alternate</mat-icon> Image Upload
                            </button>
                            <input type="file" #fileInput style="display: none" (change)="handleFileInput($event)">
                        </mat-menu>
                    </div>
                    <div class="flex-grow ml-4">
                        <form #form="ngForm" (ngSubmit)="onSubmit(userId)">
                            <div class="flex">
                                <div class="relative w-full">
                                    <input [(ngModel)]="inputValue" required type="text" name="file"
                                        [value]="selectedFile?.name" [disabled]="selectedFile?.name !== null"
                                        class="flex w-full border border-gray-300 rounded-xl focus:outline-none focus:border-red-300 pl-4 h-10" />
                                    <a class="cursor-pointer absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600"
                                        (click)="openEmojiPicker()">
                                        <mat-icon>tag_faces</mat-icon>
                                    </a>
                                </div>
                                <div class="ml-4">
                                    <button type="submit"
                                        class="flex items-center justify-center bg-red-500 hover:bg-red-600 rounded-full text-white p-2 flex-shrink-0">
                                        <mat-icon>send</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <ng-template #messageBlock>
                <div class="w-full h-full flex justify-center items-center">
                    <p class="px-10 py-1 font-semibold font text-xl text-red-500">Select your chat</p>
                </div>
            </ng-template>
        </div>
        <div class="w-80 bg-gray-100 absolute bottom-0 right-0 m-20 flex">
            <div *ngIf="selectedFile">
                <div class="cursor-pointer absolute right-0 p-3" (click)="removeImage()">
                    <mat-icon class="text-red-500 bg-red-200">close</mat-icon>
                </div>
                <div class="absolute w-full h-full flex justify-center items-center" *ngIf="isLoading">
                    <div class="lds-dual-ring"></div>
                </div>
                <div class="p-3">
                    <img *ngIf="selectedImage" [src]="selectedImage" alt="Selected Image" class="w-full h-full">
                </div>
            </div>
            <div *ngIf="openEmoji">
                <app-emoji-picker (emitEmoji)="addEmoji($event)"></app-emoji-picker>
            </div>
        </div>
    </div>
</div>