<nav class="relative top-0 z-50 w-full bg-gray-100 border border-red-300">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <button
          data-drawer-target="logo-sidebar"
          data-drawer-toggle="logo-sidebar"
          aria-controls="logo-sidebar"
          type="button"
          (click)="toggle()"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        >
          <span class="sr-only">Open sidebar</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
        <a href="" class="flex ml-2 md:mr-24">
          <img
            src="assets/images/logo.png"
            class="h-6 lg:h-8 mr-3 px-0 lg:px-3"
            alt="logo"
          />
        </a>
      </div>

      <div class="">
        <span class="absolute w-3.5 h-3.5 bg-green-400 border-2 border-white rounded-full"></span>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon><img src="assets/images/user.png" alt=""></mat-icon>
          <p>{{trainer.name}}</p>
        </button>
        <mat-menu #menu="matMenu" class="border border-red-500">
          <div class="border-b border-red-500">
            <p class="text-md font-medium text-gray-900 px-3 pb-0" role="none">{{trainer.name}}</p>
            <p class="text-sm text-gray-900 p-3 pt-1" role="none">
              {{trainer.email}}
            </p>
          </div>
          <button mat-menu-item routerLink="/trainer/profile">Profile</button>
          <button mat-menu-item (click)="singOut()">Sign out</button>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>

<aside
  id="logo-sidebar"
  class="absolute top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-gray-100 border border-red-300 sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-gray-100">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          routerLink="/trainer/dashboard"
          routerLinkActive="active"
          class="flex items-center p-2 text-black rounded-lg hover:bg-white hover:scale-105 duration-300 side-bars"
        >
          <svg
            aria-hidden="true"
            class="w-6 h-6 text-black transition duration-75 group-hover:text-gray-900"
            fill="black"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
          </svg>
          <span class="ml-3">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/trainer/blogs"
          routerLinkActive="active"
          class="flex items-center p-2 text-black rounded-lg hover:bg-white hover:scale-105 duration-300 side-bars"
        >
          <svg
            aria-hidden="true"
            class="w-6 h-6 text-black transition duration-75 group-hover:text-gray-900"
            fill="black"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
          </svg>
          <span class="ml-3">Blogs</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/trainer/workouts"
          routerLinkActive="active"
          class="flex items-center p-2 text-black rounded-lg hover:bg-white hover:scale-105 duration-300 side-bars"
        >
          <svg
            aria-hidden="true"
            class="w-6 h-6 text-black transition duration-75 group-hover:text-gray-900"
            fill="black"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
          </svg>
          <span class="ml-3">Workouts</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="relative bg-gray-200 lg:hidden" [class.hidden]="!showToggle">
  <div class="flex flex-col gap-y-4 p-4 text-white">
    <a
      routerLink="/trainer/dashboard"
      routerLinkActive="active"
      class="hover:text-red-400 text-gray-900"
      >Dashboard</a
    >
  </div>
</div>
