<div class="m-auto w-2/4">
    <div class="flex flex-wrap ">
        <div class="w-full mb-5" *ngIf="(userData$ | async) as user">
            <div class="m-8 relative space-y-4 shadow-lg">
                <div class="p-6 px-10 bg-white rounded-lg items-center justify-between border-b-4 border-red-500">
                    <div class="w-24 underline text-center text-black text-lg font-medium"
                        style="font-family: 'Kanit', sans-serif;">#Status</div>
                    <div class="justify-center mx-3">
                        <p class="mt-1">Height : <b style="font-family: 'Kanit', sans-serif;">{{user.height}}</b></p>
                        <p class="mt-1">Weight : <b style="font-family: 'Kanit', sans-serif;">{{user.weight}}</b></p>
                        <p class="mt-1"><span class="capitalize">{{user.goal}}</span> Weight : <b style="font-family: 'Kanit', sans-serif;">{{user.goalWeight}}</b></p>
                        <p class="mt-1">Months : <b style="font-family: 'Kanit', sans-serif;">{{user.months}}</b></p>
                        <p class="mt-1">Activity : <b style="font-family: 'Kanit', sans-serif;">{{user.activity}}</b></p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="w-1/2">
                    <div class="mx-8 relative space-y-4 shadow-lg">
                        <div class="p-6 px-10 bg-white rounded-lg items-center justify-between border-b-4 border-red-500">
                            <div class="text-red-500 text-2xl font-medium pb-2 flex"
                        style="font-family: 'Kanit', sans-serif;">
                        <img src="assets/images/calories.png" class="w-8 mx-1" alt="">
                        {{user.caloriesBurn}}+</div>
                        <p class="text-sm font-medium text-gray-500">Calories (Kcl)</p>
                            <p class="text-xs text-gray-500">Burning per day</p>
                        </div>
                    </div>
                </div>
                <div class="w-1/2">
                    <div class="mx-8 relative space-y-4 shadow-lg">
                        <div class="p-6 px-10 bg-white rounded-lg items-center justify-between border-b-4 border-red-500">
                            <div class="text-red-500 text-2xl font-medium pb-2 flex"
                            style="font-family: 'Kanit', sans-serif;">
                            <img src="assets/images/calories.png" class="w-8 mx-1" alt="">
                            {{user.caloriesNeed}}+</div>
                            <p class="text-sm font-medium text-gray-500">Calories (Kcl)</p>
                            <p class="text-xs text-gray-500">Need per day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>