<div class="sm:mx-auto sm:w-full max-w-lg lg:max-w-md">
    <div class="card">
        <div class="card-details p-10">
          <p class="text-title text-center">Thank you for being a part of this.</p>
          <p class="text-body text-center">we will send you an email to <b class="text-gray-700">sample@gmail.com</b> that you provided after confirming with in few days.</p>
            <button class="bg-red-500 p-3 w-2/6 rounded-md text-gray-100 mx-auto" (click)="onClick()"><span>Home</span></button>
        </div>
      </div>
</div>
