<app-background></app-background>
<div class="sm:mx-auto sm:w-full sm:max-w-lg m-5 xs:m-16 my-10 pb-10">
    <div class="bg-gray-100 py-8 px-4 shadow rounded-lg sm:px-10">
        <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
            <div class="space-y-12">
                <div class="border-gray-900/10 pb-6">
                    <h2 class="text-2xl text-center font-semibold text-red-600">Personal Information</h2>
                    <hr class="mt-2 border border-red-500">
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-6">
                        <div class="sm:col-span-3">
                            <label for="age" class="block text-sm font-medium text-gray-900">Age</label>
                            <div class="m-1">
                                <input type="text" name="age" id="age" autocomplete="given-age" formControlName="age" placeholder="in years"
                                    class="px-3 block w-full outline-none rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm">
                            </div>
                            <div *ngIf="detailsForm.controls['age'].errors&&submit">
                                <p *ngIf="detailsForm.controls['age'].hasError('required')"
                                    class="text-xs text-red-500">Age required</p>
                                <p *ngIf="detailsForm.controls['age'].hasError('pattern')" class="text-xs text-red-500">
                                    Age in numerics</p>
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="height" class="block text-sm font-medium text-gray-900">Height</label>
                            <div class="m-1">
                                <input type="text" name="height" id="height" autocomplete="given-height"
                                    placeholder="in cm" formControlName="height"
                                    class="px-3 block outline-none w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm">
                            </div>
                            <div *ngIf="detailsForm.controls['height'].errors&&submit">
                                <p *ngIf="detailsForm.controls['height'].hasError('required')"
                                    class="text-xs text-red-500">Height required</p>
                                <p *ngIf="detailsForm.controls['height'].hasError('pattern')"
                                    class="text-xs text-red-500">Height in numerics</p>
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="weight" class="block text-sm font-medium text-gray-900">Weight</label>
                            <div class="m-1">
                                <input type="text" name="weight" id="weight" autocomplete="given-weight"
                                    placeholder="in kg" formControlName="weight"
                                    class="px-3 outline-none block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm">
                            </div>
                            <div *ngIf="detailsForm.controls['weight'].errors&&submit">
                                <p *ngIf="detailsForm.controls['weight'].hasError('required')"
                                    class="text-xs text-red-500">Weight required</p>
                                <p *ngIf="detailsForm.controls['weight'].hasError('pattern')"
                                    class="text-xs text-red-500">Weight in numerics</p>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="goal" class="block text-sm font-medium text-gray-900">
                                Goal
                            </label>
                            <div class="flex items-center gap-x-3 mt-2">
                                <input id="gain" name="goal" type="radio" formControlName="goal" value="gain"
                                    class="h-4 w-4 border-gray-300 text-red-600 hover:ring-grey-900">
                                <label for="gain" class=" outline-none block text-sm font-medium text-gray-900">Gain</label>

                                <input id="loss" name="goal" type="radio" formControlName="goal" value="loss"
                                    class="h-4 w-4 border-gray-300 text-red-600 hover:ring-grey-900">
                                <label for="loss" class=" outline-none block text-sm font-medium text-gray-900">Loss</label>
                            </div>
                            <p *ngIf="detailsForm.controls['goal'].hasError('required')&&submit" class="text-xs text-red-500">
                                Goal requried</p>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="g-weight" class="block text-sm font-medium text-gray-900">Goal weight</label>
                            <div class="m-1">
                                <input type="text" nag-weight g-weight autocomplete="given-weight" placeholder="in kg"
                                    formControlName="goalWeight"
                                    class="px-3 outline-none block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm">
                            </div>
                            <div *ngIf="detailsForm.controls['goalWeight'].errors&&submit">
                                <p *ngIf="detailsForm.controls['goalWeight'].hasError('required')"
                                    class="text-xs text-red-500">Weight required</p>
                                <p *ngIf="detailsForm.controls['goalWeight'].hasError('pattern')"
                                    class="text-xs text-red-500">Weight in numerics</p>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="months" class="block text-sm font-medium text-gray-900">No.of Months</label>
                            <div class="m-1">
                                <input type="text" name="months" autocomplete="given-months" formControlName="months"
                                    class="px-3 block w-full outline-none rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm">
                            </div>
                            <div *ngIf="detailsForm.controls['months'].errors&&submit">
                                <p *ngIf="detailsForm.controls['months'].hasError('required')"
                                    class="text-xs text-red-500">Months required</p>
                                <p *ngIf="detailsForm.controls['months'].hasError('pattern')"
                                    class="text-xs text-red-500">Months in numerics</p>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="gender" class="block text-sm font-medium text-gray-900">Gender</label>
                            <div class="m-1">
                                <select id="gender" name="gender" formControlName="gender" autocomplete="gender-name"
                                    class="py-1.5 block w-full outline-none rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-grey-600 sm:max-w-xs sm:text-sm">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                            <p *ngIf="detailsForm.controls['gender'].hasError('required')&&submit" class="text-xs text-red-500">
                                Gender required</p>
                        </div>
                        
                        <div class="sm:col-span-3">
                            <label for="activity" class="block text-sm font-medium text-gray-900">Activity level</label>
                            <div class="m-1">
                                <select id="activity" name="activity" formControlName="activity" autocomplete="activity-name"
                                    class="py-1.5 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-grey-600 sm:max-w-xs sm:text-sm">
                                    <option>Sedentary</option>
                                    <option>Lightly</option>
                                    <option>Moderately</option>
                                    <option>Hard</option>
                                </select>
                            </div>
                            <p *ngIf="detailsForm.controls['activity'].hasError('required')&&submit" class="text-xs text-red-500">
                                Activity required</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3 flex items-center">
                <button type="submit"
                    class="flex items-center justify-center w-full rounded-md bg-red-600 px-3 py-2 text-lg font-semibold text-white shadow-sm hover:bg-red-500 hover-visible:outline hover-visible:outline-2 hover-visible:outline-offset-2 hover-visible:outline-red-600">
                    Submit
                </button>
            </div>
        </form>

    </div>
</div>