<div class="sm:mx-auto sm:w-full sm:max-w-xl py-10">
    <div class="bg-gray-100 py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form [formGroup]="detailForm" (ngSubmit)="onSubmit()">
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-2xl text-center font-semibold leading-7 text-red-600">Trainer Information</h2>
                <hr class="mt-2 border">
                <div class="mt-5 grid grid-cols-1 gap-x-6 gap-y-3 sm:grid-cols-6">
                    <div class="col-span-3">
                        <label for="experience" class="block text-sm font-medium leading-6 text-gray-900">Experience</label>
                        <div class="">
                            <select id="experience" name="experience" formControlName="experience"
                                autocomplete="experience-name"
                                class="py-1.5 block w-full rounded-md text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-grey-600 sm:text-sm">
                                <option selected hidden></option>
                                <option value="1">0-1 year</option>
                                <option value="2">1-2 year</option>
                                <option value="3">2-3 Year</option>
                                <option value="3+">3 above</option>
                            </select>
                        </div>
                        <p *ngIf="submit&&detailForm.controls['experience'].hasError('required')"
                            class="text-xs text-red-500">Must required</p>
                    </div>
                    <div class="col-span-3">
                        <label for="specialized " class="block text-sm font-medium leading-6 text-gray-900">Specialized</label>
                        <div class="">
                            <select id="specialized" name="specialized" formControlName="specialized"
                                autocomplete="specialized-name"
                                class="py-1.5 block w-full rounded-md text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-grey-600 sm:text-sm">
                                <option selected hidden></option>
                                <option value="muscle building">Muscle building</option>
                                <option value="cardio">Cardio</option>
                                <option value="yoga">Yoga</option>
                                <option value="nutritions">Nutrition</option>
                            </select>
                        </div>
                        <p *ngIf="submit&&detailForm.controls['specialized'].hasError('required')"
                            class="text-xs text-red-500">Must required</p>
                    </div>
                    <div class="col-span-6">
                        <label for="about" class="block text-sm font-medium leading-6 text-gray-900">About</label>
                        <div class="">
                            <textarea id="about" name="about" rows="3" formControlName="about"
                                placeholder="Write a few sentences about yourself." (input)="onAboutChanged($event)"
                                class="px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"></textarea>
                        </div>
                        <p *ngIf="submit&&detailForm.controls['about'].hasError('required')"
                            class="text-xs text-red-500">Must required</p>
                    </div>
                    <div class="sm:col-span-6">
                        <label for="cv" class="block text-sm font-medium leading-6 text-gray-900">Resume</label>
                        <div class="">
                            <input formControlName="cv"
                                class="relative outline-none m-0 block w-full min-w-0 flex-auto rounded border border-gray-600 border-gray-300 bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-gray-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-gray-100 file:px-3 file:py-[0.32rem] file:text-gray-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-gray-200 focus:border-gray-500 focus:text-gray-700 focus:shadow-te-gray-500 focus:outline-none "
                                type="file" (change)="onCvSelected($event)" />
                        </div>
                        <p *ngIf="submit&&detailForm.controls['cv'].hasError('required')" class="text-xs text-red-500">
                            CV required</p>
                    </div>
                    <div class="col-span-full">
                        <label for="cover-photo"
                            class="block text-sm font-medium leading-6 text-gray-900">Certificates</label>
                        <div class="flex items-center justify-center w-full">
                            <label for="dropzone-file"
                                class="flex flex-col items-center justify-center w-full h-40 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
                                <div class="flex flex-col items-center justify-center">
                                    <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                    </svg>
                                    <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to
                                            upload</span> or drag and drop</p>
                                    <p class="text-xs text-gray-500">pdf or doc</p>
                                </div>
                                <p class="mb-2 text-sm text-black text-bold">{{ selectedFiles }}</p>
                                <input id="dropzone-file" type="file" class="hidden" formControlName="certificates"
                                    (change)="onFileSelected($event)" multiple />
                            </label>
                        </div>
                        <p *ngIf="submit&&detailForm.controls['certificates'].hasError('required')"
                            class="text-xs text-red-500">Certificate required</p>
                    </div>
                </div>
                <p *ngIf="formatError" class="text-red-500 text-sm">Pdf files only</p>
            </div>


            <div class="mt-6 flex items-center">
                <button type="submit"
                    class="flex items-center justify-center w-full rounded-md bg-red-600 px-3 py-1 text-lg font-semibold text-white shadow-sm hover:bg-red-500 hover-visible:outline hover-visible:outline-2 hover-visible:outline-offset-2 hover-visible:outline-red-600">
                    Submit
                </button>

            </div>
        </form>

    </div>
</div>