
  
  #login {
    background-color: #ff2724;
    box-shadow: 0px 10px 10px rgba(229, 46, 46, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  #login:hover {
    transform: translateY(-1px);
  }


  button {
    background-color: #ff2724;
    box-shadow: 0px 10px 10px rgba(229, 46, 46, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:hover {
    transform: translateY(-1px);
  }