
    
  #content {
    position: relative;
    animation-name: content;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-family: 'Kanit', sans-serif;
  }
  
  @keyframes content{
    0% {left: -1000px;}
    100% {left: 0px;}
  }
*{
  font-family: 'Abel', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'REM', sans-serif;
}

#services{
  background-image: url("/assets/images/home-img.png");
}

