<div class="relative">
  <img src="assets/images/Banner.png" alt="not found" class="w-full lg:h-screen md:h-96 sm:h-96 xs:h-screen h-80">
  <div class="absolute top-5 left-0 w-full">
    <app-nav-bar></app-nav-bar>
    <div class="lg:m-20 m-10 lg:p-20 md:p-15 sm:p-10 sm:p-5 xs:p-0">
      <div class="flex items-center w-60">
        <hr class="lg:w-1/4 xs:w-auto border border-red-500">
        <p class="text-white lg:text-xl md:text-lg sm:text-md animate-fade-down animate-once animate-ease-in p-1">WITH
          FITGO</p>
      </div>
      <p class="text-white lg:text-6xl md:text-5xl sm:text-4xl xs:text-xl font-bold mt-2" id="content">Transform
        yourbody,<br>Empower your mind</p>
      <a *ngIf="!islogged" class="relative inline-flex items-center justify-start py-3 pl-4 pr-12 overflow-hidden font-semibold text-white
        transition-all duration-150 ease-in-out rounded hover:pl-10 hover:pr-6 border border-red-500 group mt-5
        animate-fade-left animate-once animate-ease-in w-5 h-5 sm:w-44 sm:h-12" routerLink="/auth">
        <span
          class="absolute bottom-0 left-0 w-full transition-all duration-150 ease-in-out bg-red-600 group-hover:h-full "></span>
        <span class="absolute right-0 pr-4 duration-200 ease-out group-hover:translate-x-12">
          <svg class="w-5 h-5 text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
          </svg>
        </span>
        <span class="absolute left-0 pl-2.5 -translate-x-12 group-hover:translate-x-0 ease-out duration-200">
          <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
          </svg>
        </span>
        <span class="relative w-full text-left transition-colors duration-200 ease-in-out group-hover:text-white"
          style="font-family: 'Kanit', sans-serif;">Join
          us today!</span>
      </a>
      <div class="flex items-center w-80 mt-4" *ngIf="islogged">
        <p
          class="text-white lg:text-xl md:text-lg sm:text-md  animate-fade-left animate-once animate-ease-in p-1 uppercase">
          Change yourself</p>
        <hr class="lg:w-1/4 xs:w-auto border border-red-500">
      </div>
    </div>
  </div>
</div>
<div class="w-full h-screen bg-gray-100">
  <div class="w-2/5 h-1/6 flex justify-center items-center">
    <p class="uppercase text-4xl text-red-500">services</p>
  </div>
  <div class="w-full h-3/5 flex justify-center">
    <div class="grid grid-cols-8 gap-5 w-full h-full items-center">
      <div class="w-full h-full bg-white col-start-2 col-span-2 rounded-lg overflow-hidden">
        <div class="h-3/5">
          <img src="assets/images/blog-thumb.jpg" alt="" class="h-full w-full">
        </div>
        <div class="p-5">
          <p>Discover a wealth of workout wisdom and inspiration in our diverse collection of fitness blogs, tailored to elevate your routines and keep you motivated on your fitness journey.</p>
        </div>
      </div>
      <div class="w-full h-full bg-white col-span-2 rounded-lg overflow-hidden">
        <div class="h-3/5">
          <img src="assets/images/workout-thumbnail.jpg" alt="" class="w-full h-full">
        </div>
        <div class="p-5">
          <p>Our comprehensive collection of workout resources offers expert guidance, effective techniques, and motivation to help you achieve your fitness goals with confidence and success.</p>
        </div>
      </div>
      <div class="w-full h-full bg-white  col-span-2 rounded-lg overflow-hidden">
        <div class="h-3/5">
          <img src="assets/images/trainer-thumb.jpg" alt="" class="w-full h-full">
        </div>
        <div class="p-5">
          <p>Meet our team of dedicated trainers who are committed to guiding and supporting you on your fitness journey, bringing expertise, motivation, and personalized approaches to help you reach your goals.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-full h-screen bg-gray-100">
  <div class="w-2/5 h-1/6 flex justify-center items-center">
    <p class="uppercase text-4xl text-red-500">About Us</p>
  </div>
</div>


<app-footer></app-footer>