<app-sidebar-layout></app-sidebar-layout>

<div class="absolute top-20 right-0 sm:w-4/5 w-full p-5">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Profile </th>
      <td mat-cell *matCellDef="let trainer">
        <img [src]="'https://fitgo-fitgo.onrender.com/uploads/' + trainer.imageUrl" alt="" class="w-12 h-12 rounded-full overflow-hidden" *ngIf="trainer.imageUrl "/>
        <img class="w-12 h-12 rounded-full" src="assets/images/avatar.jpg" alt="Rounded avatar" *ngIf="!trainer.imageUrl || trainer.imageUrl == ''">  
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let trainer"> {{trainer.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let trainer"> {{trainer.email}} </td>
    </ng-container>

    <ng-container matColumnDef="documents">
      <th mat-header-cell *matHeaderCellDef> Documents </th>
      <td mat-cell *matCellDef="let trainer">
        <a class="text-blue-500 underline cursor-pointer" (click)="show(trainer.cv)">Resume</a>
        <div *ngFor="let pdf of trainer.certificate; let i = index">
          <a class="text-blue-500 underline cursor-pointer" (click)="show(pdf)">Certificate {{i+1}}</a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="request">
      <th mat-header-cell *matHeaderCellDef> Requests </th>
      <td mat-cell *matCellDef="let trainer"> <button (click)="approveTrainer(trainer._id)"
          *ngIf="trainer.approve == false"
          class="py-2 relative rounded group font-medium text-white font-medium inline-block w-20">
          <span
            class="absolute top-0 left-0 w-full h-full rounded opacity-50 filter blur-sm bg-gradient-to-br from-red-600 to-red-500"></span>
          <span
            class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-red-600 to-red-500"></span>
          <span
            class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded bg-gradient-to-br to-red-500 from-red-500"></span>
          <span class="relative">Approve</span>
        </button>
        <button *ngIf="trainer.approve == true"
          class="py-2 relative rounded group font-medium text-white font-medium inline-block w-20">
          <span
            class="absolute top-0 left-0 w-full h-full rounded opacity-50 filter blur-sm bg-gradient-to-br from-blue-600 to-blue-500"></span>
          <span
            class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded bg-gradient-to-br to-blue-500 from-blue-500"></span>
          <span class="relative">Approved</span>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let trainer"> <button (click)="accessTrainer(trainer._id, false)"
          *ngIf="trainer.access === true"
          class="py-2 relative rounded group font-medium text-white font-medium inline-block w-20">
          <span
            class="absolute top-0 left-0 w-full h-full rounded opacity-50 filter blur-sm bg-gradient-to-br from-red-600 to-red-500"></span>
          <span
            class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-red-600 to-red-500"></span>
          <span
            class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded bg-gradient-to-br to-red-500 from-red-500"></span>
          <span class="relative">Block</span>
        </button>
        <button (click)="accessTrainer(trainer._id, true)" *ngIf="trainer.access === false"
          class="lg:py-2 py-0 relative rounded group font-medium text-white font-medium inline-block w-20">
          <span
            class="absolute top-0 left-0 w-full h-full rounded opacity-50 filter blur-sm bg-gradient-to-br from-green-600 to-green-500"></span>
          <span
            class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-green-600 to-green-500"></span>
          <span
            class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded bg-gradient-to-br to-green-500 from-green-500"></span>
          <span class="relative">Unblock</span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic trainer">
  </mat-paginator>
</div>