.cards {
  justify-content: center;
  -webkit-justify-content: center;
}

.card__img {
  visibility: hidden;
}

.card__info-hover {
  padding: 16px;
  opacity: 0;
  top: 0;
}

.card__category {
  font-family: 'Abel', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'REM', sans-serif;
}

.card__title {
  font-family: 'Abel', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'REM', sans-serif;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
}

.card:hover .card__info-hover {
  opacity: 1;
}