<!-- <app-background></app-background>
<div class="mx-auto sm:w-full sm:max-w-md py-16">
    <div class="bg-gray-100 py-8 px-4 shadow sm:rounded-lg sm:px-10 rounded-xl mx-5">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <img class="mx-auto h-10 w-auto" src="assets/images/logo.png" alt="brand">
        </div>
        <hr class="w-full border border-red-500 mt-3">
        <form class="mt-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mt-6">
                <label for="email" class="block text-sm font-medium leading-5 mx-1 text-gray-700">
                    Email address
                </label>
                <div class="mt-1 relative rounded-md shadow-sm">
                    <input id="email" name="email" placeholder="user@example.com" type="email" formControlName="email"
                        class="w-full px-3 py-2 outline-none rounded-md placeholder-gray-400 hover:border-red-300 transition duration-150 ease-in-out xs:text-sm sm:leading-5">
                </div>
                <div *ngIf="loginForm.controls['email'].errors">
                    <p *ngIf="submit&&loginForm.controls['email'].hasError('required')" class="text-red-500 text-xs">Email
                        Required
                    <p>
                    <p *ngIf="loginForm.controls['email'].hasError('email')" class="text-red-500 text-xs">Invalid email format!
                    <p>
                </div>
            </div>
            <div class="mt-6">
                <label for="password" class="block text-sm font-medium mx-1 leading-5 text-gray-700">
                    Password
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                    <input id="password" name="password" type="password" placeholder="..........." formControlName="password"
                        class="block w-full outline-none px-3 py-2 border border-white rounded-md placeholder-gray-400 hover:border-red-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                </div>
                <div *ngIf="loginForm.controls['password'].errors">
                    <p *ngIf="submit&&loginForm.controls['password'].hasError('required')" class="text-red-500 text-xs">Password
                        Required
                    </p>
                    <p *ngIf="loginForm.controls['password'].hasError('pattern')" class="text-red-500 text-xs">Invalid Password
                        Format</p>
                </div>
            </div>
            <div class="mt-3">
                <a href="" class="text-sm text-black px-1">Forget password?</a>
            </div>
            <div class="mt-6">
                <button class="w-full py-3 text-xs uppercase font-semibold rounded-md duration-300">
                    Login Here
                </button>
            </div>
            <div class="mt-3">
                <p class="text-sm">Are you new here? <a href="" class="text-sm text-red-500 underline" routerLink="/register">Register Here</a></p>
            </div>
        </form>
    </div>
</div> -->


<div class="w-screen sm:h-screen flex justify-center items-center">
    <div class="w-3/4 bg-gray-200 sm:bg-gray-900 sm:flex mt-20 sm:mt-0">
        <div class="sm:w-1/3 sm:m-10 sm:h-3/5 lg:-mt-24 bg-gray-50 sm:absolute shadow rounded moving"
            [class.move]="isMoved">
            <div class="h-full flex justify-center items-center">
                <div class="w-3/4 m-3" *ngIf="isMoved == true; else signupBlock">
                    <p class="text-xl sm:text-3xl font text-black text-center uppercase underline">login</p>
                    <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin">
                        <div class="mt-5 w-full">
                            <label for="email" class="block text-sm font-medium leading-5 mx-1 text-gray-700 font">
                                Email address
                            </label>
                            <div class="mt-1 shadow-sm">
                                <input id="email" name="email" placeholder="user@example.com" type="email"
                                    formControlName="email"
                                    class="w-full px-3 py-2 rounded-md placeholder-gray-400 focus:border-0 border-b-2 border border-gray-900 transition duration-150 ease-in-out font">
                            </div>
                            <div *ngIf="loginForm.controls['email'].errors">
                                <p *ngIf="submit&&loginForm.controls['email'].hasError('required')"
                                    class="text-red-500 text-xs">Email 
                                    Required
                                <p>
                                <p *ngIf="loginForm.controls['email'].hasError('email')" class="text-red-500 text-xs">
                                    Invalid email format!
                                <p>
                            </div>
                        </div>
                        <div class="mt-4 w-full">
                            <label for="password" class="block text-sm font-medium mx-1 leading-5 text-gray-700">
                                Password
                            </label>
                            <div class="mt-1 shadow-sm">
                                <input id="password" name="password" type="password" placeholder="..........."
                                    formControlName="password"
                                    class="w-full px-3 py-2 rounded-md placeholder-gray-400 focus:border-0 border border-b-2 border-gray-900 transition duration-150 ease-in-out font">
                            </div>
                            <div *ngIf="loginForm.controls['password'].errors">
                                <p *ngIf="submit&&loginForm.controls['password'].hasError('required')"
                                    class="text-red-500 text-xs">Password
                                    Required
                                </p>
                                <p *ngIf="loginForm.controls['password'].hasError('pattern')"
                                    class="text-red-500 text-xs">Invalid Password
                                    Format!</p>
                            </div>
                        </div>
                        <div class="mt-8 flex justify-center">
                            <button
                                class="w-full py-3 text-xs uppercase font-semibold rounded-md duration-300 bg-white font border-2 border-black hover:w-1/2 hover:scale-105">
                                Login Here
                            </button>
                        </div>
                    </form>
                    <p class="visible sm:invisible text-xs font mt-3">Don't have an account?<a href=""
                            class="uppercase underline font" routerLink="/register">Signup</a></p>
                </div>
                <ng-template #signupBlock>
                    <div class="w-3/4 m-3">
                        <p class="text-xl sm:text-3xl font text-black text-center uppercase underline mt-3">signup</p>
                        <form action="">
                            <div class="mt-2 w-full">
                                <label for="name" class="block text-sm font-medium leading-5 mx-1 text-gray-700 font">
                                    Name
                                </label>
                                <div class="shadow-sm">
                                    <input id="name" name="name" placeholder="John Doe" type="name"
                                        formControlName="name"
                                        class="w-full px-3 py-1.5 rounded-md placeholder-gray-400 focus:border-0 border-b-2 border border-gray-900 transition duration-150 ease-in-out font">
                                </div>
                            </div>
                            <div class="mt-2 w-full">
                                <label for="email" class="block text-sm font-medium leading-5 mx-1 text-gray-700 font">
                                    Email address
                                </label>
                                <div class="shadow-sm">
                                    <input id="email" name="email" placeholder="user@example.com" type="email"
                                        formControlName="email"
                                        class="w-full px-3 py-1.5 rounded-md placeholder-gray-400 focus:border-0 border-b-2 border border-gray-900 transition duration-150 ease-in-out font">
                                </div>
                                <div *ngIf="loginForm.controls['email'].errors">
                                    <p *ngIf="submit&&loginForm.controls['email'].hasError('required')"
                                        class="text-red-500 text-xs">Email
                                        Required
                                    <p>
                                    <p *ngIf="loginForm.controls['email'].hasError('email')"
                                        class="text-red-500 text-xs">
                                        Invalid email format!
                                    <p>
                                </div>
                            </div>
                            <div class="mt-2 w-full">
                                <label for="password" class="block text-sm font-medium mx-1 leading-5 text-gray-700">
                                    Password
                                </label>
                                <div class="shadow-sm">
                                    <input id="password" name="password" type="password" placeholder="..........."
                                        formControlName="password"
                                        class="w-full px-3 py-1.5 rounded-md placeholder-gray-400 focus:border-0 border border-b-2 border-gray-900 transition duration-150 ease-in-out font">
                                </div>
                                <div *ngIf="loginForm.controls['password'].errors">
                                    <p *ngIf="submit&&loginForm.controls['password'].hasError('required')"
                                        class="text-red-500 text-xs">Password
                                        Required
                                    </p>
                                    <p *ngIf="loginForm.controls['password'].hasError('pattern')"
                                        class="text-red-500 text-xs">Invalid Password
                                        Format</p>
                                </div>
                            </div>
                            <div class="mt-2 w-full">
                                <label for="cpassword" class="block text-sm font-medium mx-1 leading-5 text-gray-700">
                                    Confirm Password
                                </label>
                                <div class="shadow-sm">
                                    <input id="cpassword" name="cpassword" type="cpassword" placeholder="..........."
                                        formControlName="cpassword"
                                        class="w-full px-3 py-1.5 rounded-md placeholder-gray-400 focus:border-0 border border-b-2 border-gray-900 transition duration-150 ease-in-out font">
                                </div>
                                <div *ngIf="loginForm.controls['cpassword'].errors">
                                    <p *ngIf="submit&&loginForm.controls['cpassword'].hasError('required')"
                                        class="text-red-500 text-xs">Password
                                        Required
                                    </p>
                                    <p *ngIf="loginForm.controls['cpassword'].hasError('pattern')"
                                        class="text-red-500 text-xs">Invalid Password
                                        Format</p>
                                </div>
                            </div>
                            <div class="mt-5 flex justify-center">
                                <button
                                    class="w-full py-3 text-xs uppercase font-semibold rounded-md duration-300 bg-white font border-2 border-black hover:w-1/2 hover:scale-105">
                                    Login Here
                                </button>
                            </div>
                        </form>
                        <p class="visible sm:invisible text-xs font mt-3">Already have an account?<a href=""
                                class="uppercase underline font" routerLink="/login">Login</a></p>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="sm:w-1/2 sm:h-1/3 sm:flex items-center invisible sm:visible">
            <div class="sm:m-10">
                <p class="sm:text-2xl text-white font m-3">Don't have an account?</p>
                <p class="text-white m-3 font">Transforming into a better version of yourself is just a click away. Are
                    you ready? 'Sign Up' now!</p>
                <button class="text-white px-5 py-2 border border-red-500 uppercase font m-3" (click)="moveDiv()">sign
                    up</button>
            </div>
        </div>
        <div class="w-1/2 h-1/3 flex items-center sm:visible invisible">
            <div class="sm:m-10">
                <p class="sm:text-2xl text-white font m-3">Have an account?</p>
                <p class="text-white m-3 font">Your fitness adventure continues! Just a click on 'Login' here and you're
                    back in action.</p>
                <button class="text-white px-5 py-2 border border-red-500 uppercase font m-3"
                    (click)="moveDiv()">Login</button>
            </div>
        </div>
    </div>
</div>