
/*   
  button {
    background-color: #ff2724;
    box-shadow: 0px 10px 10px rgba(229, 46, 46, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:hover {
    transform: translateY(-1px);
  } */

  .moving{
    transition: transform 0.5s ease-in-out;
  }

  .move {
    transition: transform 0.5s ease-in-out;
    transform: translateX(110%);
  }

 p{
  font-family: 'Abel', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'REM', sans-serif;
 }