<div class="m-auto md:w-2/4">
    <div class="flex flex-wrap ">
        <div class="w-full md:px-4" *ngIf="(userData$ | async) as user">
            <div class="md:m-8 m-2 relative space-y-4 shadow-lg">
                <div class="p-5 md:px-10 bg-white rounded-lg items-center justify-between border-b-4 border-red-500">
                    <div class="w-24 underline text-center text-black text-lg font-medium"
                    >#Contact</div>
                    <div class="justify-center mx-3">
                        <p class="mt-3 text-base text-md">Email : <b >{{user.email}}</b></p>
                        <p class="mt-1">Phone : <b>{{user.phone}}</b></p>
                    </div>
                </div>
            </div>

            <div class="md:m-8 m-2 relative space-y-4 shadow-lg">
                <div class="p-5 md:px-10 bg-white rounded-lg items-center justify-between border-b-4 border-red-500">
                    <div class="w-24 underline text-center text-black text-lg font-medium"
                    >#Personal</div>
                    <div class="justify-center mx-3">
                        <p class="font-bold"></p>
                        <p class="mt-3 text-base text-md">Gender : <b
                            >{{user.gender}}</b></p>
                        <p class="mt-1">Age : <b>{{user.age}}</b></p>
                        <p class="mt-1">Height : <b>{{user.height}}</b></p>
                        <p class="mt-1">Wieght : <b>{{user.weight}}</b></p>
                        <p class="mt-1">Activity : <b>{{user.activity}}</b></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
