<app-sidebar-layout></app-sidebar-layout>
<div class="lg:w-4/5 mt-10 lg:mx-72 w-full overflow-hidden overflow-y-auto overflow-x-auto" *ngIf="trainer$|async as trainer">
    <div class="w-full md:flex justify-center" >
        <div class="p-5 md:w-1/5 bg-gray-100 rounded-lg shadow-md ">
            <div class="flex items-center w-full">
                <label for="dropzone-file" *ngIf="trainer.imageUrl == '' || !trainer.imageUrl"
                    class="flex flex-col items-center justify-center w-full h-60 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
                    <div class="flex flex-col items-center justify-center">
                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                                upload</span> your image</p>
                    </div>
                    <p class="mb-2 text-sm text-black text-bold"></p>
                    <input  #fileInput id="dropzone-file" type="file" class="hidden" (change)="onFileSelected($event)"/>
                </label>
                <div  *ngIf="trainer.imageUrl" >
                    <input  #fileInput id="dropzone-file" type="file" class="hidden" (change)="onFileSelected($event)"/>
                    <img [src]="'http://localhost:3000/uploads/'+trainer.imageUrl" alt="image"class="w-full h-full">
                    <div>
                        Add new photo 
                        <button (click)="openFileInput()" class="bg-red-500 text-white rounded pg-2 mt-2 px-2">Here!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-5 bg-gray-100 rounded-lg shadow-md md:w-3/5 overflow-hidden">
            <div class="m-10">
                <div>
                    <p class="text-md font-bold text-red-500 underline">Contact Details</p>
                </div>
                <div class="md:flex mt-5">
                    <p class="font-semibold text-gray-700">Name </p>
                    <p class="text-md md:mx-20">{{trainer.name}}</p>
                </div>
                <div class="md:flex mt-2">
                    <p class="font-semibold text-gray-700">Email </p>
                    <p class="text-md md:mx-20">{{trainer.email}}</p>
                </div>
                <div class="md:flex mt-2">
                    <p class="font-semibold text-gray-700">Phone</p>
                    <p class="text-md md:mx-20">{{trainer.phone}}</p>
                </div>
                <div class="md:flex mt-2">
                    <p class="font-semibold text-gray-700">Revenue</p>
                    <p class="text-md md:mx-20"><span class="px-3 py-1 text-black bg-yellow-200">{{revenue}}</span></p>
                </div>
            </div>
            <div class="md:m-10">
                <button class="px-3 py-1 text-white bg-red-500 rounded-md" (click)="editProfile()">update</button>
            </div>
        </div>
    </div>
    <div class="w-full md:flex justify-center mt-3"  >
        <div class="bg-gray-100 md:w-5/6 rounded-lg shadow-md">
            <div class="m-10">
                <p class="font-semibold text-red-500 underline">More informations</p>
                <div class="md:flex mt-5">
                    <p class="font-semibold text-gray-700">About</p>
                    <p class="text-base px-4 md:mx-28">{{trainer.about}}</p>
                </div>
                <div class="md:flex mt-2">
                    <p class="font-semibold text-gray-700">Specialized</p>
                    <p class="text-base md:mx-20 px-2 uppercase">{{trainer.specialized}} Trainer</p>
                </div>
                <div class="md:flex mt-2">
                    <p class="font-semibold text-gray-700">Experiences</p>
                    <p class="text-base md:mx-20 uppercase">{{trainer.experience}} Year experience</p>
                </div>
                <div class="md:flex mt-2">
                    <p class="font-semibold text-gray-700">Joined since</p>
                    <p class="text-base md:mx-20 uppercase">{{ trainer.joinDate | date: 'yyyy-MM-dd ' }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full md:flex justify-center mt-3 mb-20">
        <div class="bg-gray-100 md:w-5/6 rounded-lg shadow-md p-5">
            <div class="md:w-1/3">
                <form  [formGroup]="form" (ngSubmit)="services()">
                    <label for="service" class="text-md font-medium m-1">Your services</label>
                    <div class="flex">
                        <input type="text" name="service" id="service" formControlName="service" class="w-full px-2 py-1 m-1 border border-gray-500 rounded-lg focus:ring-1 focus:ring-red-300 focus:border-red-100">
                        <button class="px-5 py-1 bg-red-500 text-white rounded-md m-1 hover:scale-105 duration-200">Add</button>
                    </div>
                    <div *ngIf="form.controls['service'].errors">
                        <p *ngIf="submit && form.controls['service'].hasError('required')" class="text-red-500 text-xs">Must required</p>
                    </div>
                </form>
            </div>
            <div *ngFor="let data of trainer.services">
                <div class="md:w-1/3 bg-red-100 rounded-md">
                    <div class="p-5  m-2 grid grid-cols-8">
                        <p class="col-span-7">{{data}}</p>
                        <mat-icon class="cursor-pointer" (click)="remove(data)">close</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
