<app-sidebar-layout></app-sidebar-layout>

<div class="absolute top-20 right-0 sm:w-4/5 w-full overflow-hidden overflow-y-auto overflow-x-auto p-5">
    <div class="m-2 text-md font-semibold">
        Add new workout
        <button class="bg-red-500 py-1 px-3 text-white rounded-lg hover:scale-105 shadow-md duration-300"
            (click)="showForm()">
            Here!
        </button>
    </div>

    <table mat-table [dataSource]="dataSource$" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
        </ng-container>
    
        <ng-container matColumnDef="thumbnail">
          <th mat-header-cell *matHeaderCellDef> Thumbnail </th>
          <td mat-cell *matCellDef="let workout"> <img [src]="'https://fitgo-fitgo.onrender.com/uploads/' + workout.thumbnail" width="100px"
              alt="" class="" /> </td>
        </ng-container>
    
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let workout"> {{workout.title}} </td>
        </ng-container>
    
        <ng-container matColumnDef="muscle">
          <th mat-header-cell *matHeaderCellDef> Muscle </th>
          <td mat-cell *matCellDef="let workout"> {{workout.muscle}} </td>
        </ng-container>
    
        <ng-container matColumnDef="trainer">
          <th mat-header-cell *matHeaderCellDef> Trainer </th>
          <td mat-cell *matCellDef="let workout"> {{workout.trainerId.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let workout"> 
            <button (click)="editWorkout(workout._id)" *ngIf="workout.trainerId._id == trainerId"
              class="py-2 relative rounded group font-medium text-white font-medium inline-block w-20 mx-2">
              <span
                class="absolute top-0 left-0 w-full h-full rounded opacity-50 filter blur-sm bg-gradient-to-br from-green-600 to-green-500"></span>
              <span
                class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-green-600 to-green-500"></span>
              <span
                class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded bg-gradient-to-br to-green-500 from-green-500"></span>
              <span class="relative">Edit</span>
            </button>
            <button (click)="showWorkout(workout._id)"
              class="py-2 relative rounded group font-medium text-white font-medium inline-block w-20 mx-2">
              <span
                class="absolute top-0 left-0 w-full h-full rounded opacity-50 filter blur-sm bg-gradient-to-br from-blue-600 to-blue-500"></span>
              <span
                class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-blue-600 to-blue-500"></span>
              <span
                class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded bg-gradient-to-br to-blue-500 from-blue-500"></span>
              <span class="relative">View</span>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic workouts">
      </mat-paginator>
</div>