<app-background></app-background>
<div class="sm:mx-auto sm:w-full sm:max-w-md mt-20 m-4">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <img class="mx-auto h-10 w-auto" src="assets/images/logo.png" alt="Workflow">
        </div>
        <hr class="w-full border border-red-500 mt-3">
        <form class="form mt-5" [formGroup]="otpForm" (ngSubmit)="onSubmit()">
            <div class="title">OTP</div>
            <div class="title">Verification Code</div>
            <div>
                <p class="message">We have sent a verification code to your <br> Email address : <b class="text-red-500" *ngIf="userData">{{userData.email}}</b></p>
            </div>
            <div class="inputs mt-10 mb-3 flex justify-center">
                <input id="input1" type="text" maxlength="1" class="w-1/12 mx-1 border-b border-gray-300"
                    [class.border-red-500]="otpForm.controls['input1'].invalid && submit" formControlName="input1"
                    (input)="onInput($event, 'input1')" #input1>
                <input id="input2" type="text" maxlength="1" class="w-1/12 mx-1 border-b border-gray-300"
                    [class.border-red-500]="otpForm.controls['input2'].invalid && submit" formControlName="input2"
                    (input)="onInput($event, 'input2')" #input2>
                <input id="input3" type="text" maxlength="1" class="w-1/12 mx-1 border-b border-gray-300"
                    [class.border-red-500]="otpForm.controls['input3'].invalid && submit" formControlName="input3"
                    (input)="onInput($event, 'input3')" #input3>
                <input id="input4" type="text" maxlength="1" class="w-1/12 mx-1 border-b border-gray-300"
                    [class.border-red-500]="otpForm.controls['input4'].invalid && submit" formControlName="input4"
                    (input)="onInput($event, 'input4')" #input4>
                <input id="input5" type="text" maxlength="1" class="w-1/12 mx-1 border-b border-gray-300"
                    [class.border-red-500]="otpForm.controls['input5'].invalid && submit" formControlName="input5"
                    (input)="onInput($event, 'input5')" #input5>
                <input id="input6" type="text" maxlength="1" class="w-1/12 mx-1 border-b border-gray-300"
                    [class.border-red-500]="otpForm.controls['input6'].invalid && submit" formControlName="input6"
                    (input)="onInput($event, 'input6')" #input6>
            </div>
            <p class="text-xs text-gray-500 font-medium" *ngIf="!reset"><span class="text-gray-600">Resend otp in </span> {{ minutes }} : {{ seconds }}</p>
            <a class="cursor-pointer underline text-red-500 text-sm"  *ngIf="reset && ! sent" (click)="resend()">Resend OTP</a>
            <button class="w-2/3 bg-red-600 rounded-md text-white py-2 mt-3">verify</button>
        </form>
    </div>
</div>